  <head>
    <link rel="stylesheet" href="../styles/header.css">
  </head>

  <header>
    <div class="header">
      <a href="/homepage" class="logo">Good AF Pizzeria</a>
      <div class="header-right">
        <a class="admin" href="login">ADMIN</a>
      </div>
    </div>
  </header>