<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/confirmation.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Confirmation</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/confirmation.js"></script>

</head>
<body>

  <%- include('partials/_header') %>

  <div id="no-user" class="confirmation-page">
    <div class="confirmation-content">
    <h1>You have successfully placed an order!</h1>
    <p>Stay tuned for the restaurant to confirm your order and return an estimate on the time...</p>
    </div>
  </div>

    <div id="confirm-data" class="confirmation-page">
      <!-- User data goes here -->
    </div>

</body>
</html>
