<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Confirmation</title>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/confirmation.js"></script>

</head>
<body>
  <h5>Confirmation</h5>

  <div>
    -Menu data-
    -User data-
  </div>

  <form id="confirm_order">
    <input type="submit" value="Confirm">
  </form>

</body>
</html>
