<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/homepage.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
</head>
<body style="font-family: Montserrat Bold;">
  <header id="showcase">
    <a href="/admin/login" class="admin">ADMIN</a>
    <div class="logo-bttn">
      <h1>Good AF Pizzeria</h1>
      <a href="/menu" button type="button" class="btn btn-outline-secondary">ORDER NOW</a>
    </div>
</header>
</body>
</html>
