<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/homepage.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <div class="background-img">
    <img src="https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" id="img">
    <button class="button">Button</button>
  <!-- <div id="overlay">
    <a href="/menu" class="order-now-button">ORDER NOW</a>
  </div> -->
  </div>
</body>
</html>