<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/homepage.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <header id="showcase">
    <a href="/admin/login" class="admin">ADMIN</a>
    <div class="logo-bttn">
      <h1>That Pizza Place</h1>
      <a href="/menu" class="button">Order now</a>
    </div>
</header>
</body>
</html>