<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="styles/login.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <header>
      <%- include('partials/_header') %>
  </header>
    <div class="main">
      <form class="form1">
        <p class="sign">Sign in</p>
        <input id="admin_name" name="name" type="text" placeholder="Username">
        <input id="admin_password" name="password" type="password"placeholder="Password">
        <a class="submit" value="Login" type="submit">Sign in</a>
      </form>
    </div>
</body>
</html>
    
    <!-- <h1>Login Page</h1>
  
    <form action="./login" method="POST">
      <label for="admin_name">Name</label>
      <input name="name" id="admin_name">
  
      <label for="admin_password">Password</label>
      <input name="password" type="password" id="admin_password">
  
      <input type="submit" value="Login">
    </form>
     -->