<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../styles/login.css">

  <title>Login</title>
</head>

<body style="font-family: Montserrat Bold;">
  <header>
    <%- include('partials/_header') %>
  </header>

  <main>

    <div class="container">
      <form class="form1" action="./login" method="POST">
        <input id="admin_name" name="name" type="text" placeholder="Restaurant">
        <input id="admin_password" name="password" type="password"placeholder="Password">
        <div class="text-center">
          <button type="submit" class="submit btn btn-dark">Log In</button>
        </div>
      </form>
    </div>

  </main>

</body>
</html>
