<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>

  <form action="./login" method="POST">
    <label for="admin_name">Name</label>
    <input name="name" id="admin_name">

    <label for="admin_password">Password</label>
    <input name="password" type="password" id="admin_password">

    <input type="submit" value="Login">
  </form>
</body>
</html>
