<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>

<body>
  <%- include('partials/_header') %>

<main>
  <div class="jumbotron">
      <h1>Menu</h1>
  </div>
</main>
  <!-- <h5>Menu Page</h5>

</body>
</html>
