<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div>
      <h2>Pizza</h2>
    </div>
    <div>
      <div>
        <h4>Veggie</h4>
        <p>A medley of fresh green peppers, onion, tomatoes, mushrooms, and olives.</p>
        <div>
          <p>Small: $16.00</p>
          <button type="button">S</button>
          <p>Medium: $18.00</p>
          <button type="button">M</button>
          <p>Large: $20.00</p>
          <button type="button">L</button>
        </div>
      </div>
      <div>
        <h4>Cheese</h4>
        <p>A fresh blend of 4 cheeses</p>
        <div>
          <p>Small: $14.00</p>
          <button type="button">S</button>
          <p>Medium: $17.00</p>
          <button type="button">M</button>
          <p>Large: $19.00</p>
          <button type="button">L</button>
        </div>
      </div>
      <div>
        <h4>Pepperoni</h4>
        <p>Organic tomato sauce, pepperoni + mozzarella.</p>
        <div>
          <p>Small: $15.00</p>
          <button type="button">S</button>
          <p>Medium: $17.00</p>
          <button type="button">M</button>
          <p>Large: $19.00</p>
          <button type="button">L</button>
        </div>
      </div>
      <div>
        <h4>New York Deli</h4>
        <p>Organic tomato sauce, pepperoni, Genoa salami, bacon, Canadian ham, spicy Italian sausage, mozzarella + cheddar.</p>
        <div>
          <p>Small: $16.00</p>
          <button type="button">S</button>
          <p>Medium: $18.00</p>
          <button type="button">M</button>
          <p>Large: $20.00</p>
          <button type="button">L</button>
        </div>
      </div>
      <div>
        <h4>Deluxe</h4>
        <p>A mouth-watering combination of pepperoni, savory Italian sausage, fresh green peppers, fresh mushrooms, fresh onions and cheese.</p>
        <div>
          <p>Small: $16.00</p>
          <button type="button">S</button>
          <p>Medium: $18.00</p>
          <button type="button">M</button>
          <p>Large: $20.00</p>
          <button type="button">L</button>
        </div>
      </div>
      <div>
        <h4>Vegan</h4>
        <p>Organic tomato sauce, fresh onions, fresh red peppers, fresh mushrooms, beyond-meat sausage</p>
        <div>
          <p>Small: $17.00</p>
          <button type="button">S</button>
          <p>Medium: $19.00</p>
          <button type="button">M</button>
          <p>Large: $21.00</p>
          <button type="button">L</button>
        </div>
      </div>
    </div>
    <div>
      <h3>Cart</h3>
    </div>

  </body>
=======
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h5>Menu Page</h5>

</body>
>>>>>>> master
</html>
