<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>

<body>
  <%- include('partials/_header') %>


</body>
  <head>
    <title>Menu</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/menu.js"></script>
  </head>

  <body>
    <div>
      <h1 id="title">Pizza</h1>
    </div>
    <div class="pizza-container">
      <div class="pizza-item">
        <h4>Veggie</h4>
        <p>A medley of fresh green peppers, onion, tomatoes, mushrooms, and olives.</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$16.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$18.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$20.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
      <div class="pizza-item">
        <h4>Cheese</h4>
        <p>A fresh blend of 4 cheeses</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$14.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$17.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$19.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
      <div class="pizza-item">
        <h4>Pepperoni</h4>
        <p>Organic tomato sauce, pepperoni + mozzarella.</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$15.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$17.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$19.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
      <div class="pizza-item">
        <h4>New York Deli</h4>
        <p>Organic tomato sauce, pepperoni, Genoa salami, bacon, Canadian ham, spicy Italian sausage, mozzarella + cheddar.</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$16.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$18.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$20.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
      <div class="pizza-item">
        <h4>Deluxe</h4>
        <p>A mouth-watering combination of pepperoni, savory Italian sausage, fresh green peppers, fresh mushrooms, fresh onions and cheese.</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$16.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$18.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$20.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
      <div class="pizza-item">
        <h4>Vegan</h4>
        <p>Organic tomato sauce, fresh onions, fresh red peppers, fresh mushrooms, beyond-meat sausage</p>
        <div class="sizes-container">
          <div class="size-container">
            <div>
              <span class="menu-size">Small</span>
              <span class="menu-price">$17.00</span>
            </div>
            <button class="size-btn" type="button">S</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Medium</span>
              <span class="menu-price">$19.00</span>
            </div>
            <button class="size-btn" type="button">M</button>
          </div>
          <div class="size-container">
            <div>
              <span class="menu-size">Large</span>
              <span class="menu-price">$21.00</span>
            </div>
            <button class="size-btn" type="button">L</button>
          </div>
        </div>
      </div>
    </div>
    <h2 class="cart-title">Cart</h2>
    <table class="cart-table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Size</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="cart-items">
        <!-- <tr class="cart-row">
          <td class="cart-name">Cheese</td>
          <td>Medium</td>
          <td class="item-price">$17.00</td>
          <td><input class="quantity-input" type="number" value="1"></td>
          <td><button class="remove-btn" type="button">Delete</button></td>
        </tr>
        <tr class="cart-row">
          <td class="cart-name">Pepperoni</td>
          <td>Medium</td>
          <td class="item-price">$17.00</td>
          <td><input class="quantity-input" type="number" value="1"></td>
          <td><button class="remove-btn" type="button">Delete</button></td>
        </tr>
        <tr class="cart-row">
          <td class="cart-name">New York Deli</td>
          <td>Medium</td>
          <td class="item-price">$18.00</td>
          <td><input class="quantity-input" type="number" value="1"></td>
          <td><button class="remove-btn" type="button">Delete</button></td>
        </tr> -->
      </tbody>
    </table>
    <div class="subtotal-confirm">
      <div class="cart-total">
        <strong>Total:</strong>
        <span class="total-price">$52.00</span>
      </div>
      <br>
      <div class="confirm-btn">
      <button class ="confirm-btn" type="Submit">Confirm Order</button>
      </div>
    </div>
  </body>
</html>

