<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/login.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Past Orders</title>
</head>
<body>
    <%- include('partials/_header') %>
    <div class="image-box" style="--image-url: url(https://picsum.photos/3000/2000)">
      <h1>Buy our product</h1>
    </div>
  </div>
</body>
</html>
