<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../styles/past_orders.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Past Orders</title>
</head>

<body>
    <%- include('partials/_header') %>
    <div id="box-overlay">
      <div class="append_past_orders">
        <!-- past orders go here-->
      </div>
  </div>
</body>
</html>




