<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/pending.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles/pending.css" type="text/css"/>

  <title>Pending</title>

</head>
<body>
  <nav>
    <%- include('partials/_header') %>
  </nav>

  <main>

    <div class="pending_confirmation container">
      <div>
        <h3>ORDERS PENDING CONFIRMATION</h3>
      </div>

      <div id="append_new_orders">
        <!-- New orders go here -->
      </div>
    </div>

    <div class="orders_in_process container">
      <div>
        <h3>ORDERS IN PROCESS</h3>
      </div>

      <div id="orders_in_process">
        <!-- New orders go here -->
      </div>
    </div>

  </main>
</body>
</html>
