$bg: white;

.header {
  overflow: hidden;
  background-color: $bg;
  opacity: 60%;
  padding: 50px 30px;
  border: 1px white solid;
  a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 15px;
    }
}

/* Style the header links */ 
// .header a {
//   float: left;
//   color: black;
//   text-align: center;
//   padding: 12px;
//   text-decoration: none;
//   font-size: 18px;
//   line-height: 25px;
//   border-radius: 15px;
// }

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
  line-height: 45px;
  font-size: 45px;
  font-weight: 900;
  color: black;
}

header a.admin {
  padding-top: 23px;
  float: right;
  font-size: 20px;
  font-weight: 900;
  color: black;
}
