$td: none;
$ai: center;

body {
  background-image: url('https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 17px;
  line-height: 1.6;
}

.admin {
  float: right;
  text-decoration: none;
  color: black;
  padding: 30px;
}

.logo-bttn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-left: 120px;
  h1 {
      font-size: 50px;
      line-height: 1.2;
    }
}

.admin:hover {
  color: white;
  text-decoration: $td;
}

.logo-bttn h1 {
  font-family: Montserrat;
  font-weight: 800;
}