.logo-bttn h1 {
  font-size: 50px;
  line-height: 1.2;
}

.button {
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: black 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}

.button:hover {
  background-color: black;
  color: white;
}

body {
  background-image: url('https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 17px;
  line-height: 1.6;
}

.admin {
  float: right;
  text-decoration: none;
  color: black;
  padding: 30px;
  font-family: Nobile;
}

.logo-bttn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin-left: 120px;
  font-family: Corben;
}

.admin:hover {
  color: white;
}

/* 
background-image: url("https://images.getbento.com/accounts/84150752104bbe777eca677100427545/media/images/45897PizzaBeach_LizClayman_001.jpg?fit=max&w=1800&auto=format,compress"); */
/* 
https://images.pexels.com/photos/5379711/pexels-photo-5379711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 */

// background-image: url('https://images.getbento.com/accounts/84150752104bbe777eca677100427545/mediausers/custom_fields_galleries/images/5JXUmYGRCu8XYz9XjoAn_peter oreilly - Pizza_Beach_014.jpg?fit=max&w=1800&auto=format,compress');

// 'https://images.getbento.com/accounts/84150752104bbe777eca677100427545/mediausers/custom_fields_galleries/images/5JXUmYGRCu8XYz9XjoAn_peter oreilly - Pizza_Beach_014.jpg?fit=max&w=1800&auto=format,compress'

// 'https://images.pexels.com/photos/4450334/pexels-photo-4450334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'