body {
  box-sizing: border-box;
}

.main-body {
  border: 1px solid black;
  background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80"), url("https://images5.alphacoders.com/381/381504.jpg");
}

#title {
  // padding: 1em;
  margin: 1em;
  color: white;
  text-align: center;
  font-size: 50px;
}

.pizza-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza-item {
  width: 40%;
  border: black solid 1px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  opacity: 90%;
}

.sizes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.size-container {
  flex-direction: column;
}

.quantity-input {
  width: 40px;
}

tr.quantity-input {
  width: 5%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  border: 1px solid black;
}

.contact-form > input {
  margin: 0.5em auto;
  width: 50%
}

#cart {
  border: 1px solid black;
  margin: 1em;
  background-color: white;
  opacity: 90%;
  visibility: hidden;
}

.cart-title {
  text-align: center;
  border: 1px solid black;
  margin: 25px;
}

.cart-table {
  width: 80%;
  text-align: center;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

//Add spacing between cart rows
.cart-row > td {
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: transparent;
}

.subtotal-confirm {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 25px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  margin-top: 0em;
}


